In [159]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [160]:
df = pd.read_csv("./titanic.csv", index_col="PassengerId")

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [162]:
# age has normal distribution, fill with mean age
df.Age.fillna(df.Age.mean(), inplace=True)
# replace categorical variables with numbers
sex = pd.get_dummies(df.Sex, drop_first=True)
embark = pd.get_dummies(df.Embarked, drop_first=True)
# cabin null is 0 and take the first Letter of Cabin number
df.Cabin = df.Cabin.apply(lambda x : "0" if pd.isnull(x) else str(x)[0])
# replace categorical variables with numbers
df.Cabin.replace({"A": 1, "B":2, "C": 3,"D": 4,"E": 5,"F": 6,"G": 7,"T": 8}, inplace=True)
# unused columns are dropped
df.drop(["Name","Ticket","Embarked", "Sex"], axis=1, inplace=True)
df = pd.concat([df,sex,embark], axis = 1)
# 2 null values are dropped
df.dropna(inplace=True)

In [163]:
x = df.drop("Survived",axis = 1)
y = df["Survived"]

In [164]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state= 101)

In [165]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [166]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [167]:
model.score(x_test, y_test)

0.7541899441340782

In [175]:
x_train.head()

             Pclass   Age  SibSp  Parch    Fare Cabin  male  Q  S
PassengerId
734               2  23.0      0      0   13.00     0     1  0  1
858               1  51.0      0      0   26.55     5     1  0  1
82                3  29.0      0      0    9.50     0     1  0  1
320               1  40.0      1      1  134.50     5     0  0  0
721               2   6.0      0      1   33.00     0     0  0  1

In [174]:
model.predict([[2,18.0,0,0,8.05,0,0,1,0]])  #predicting if 18 years old single woman passenger would survive

array([1])